td {{ rank }}
td {{ votes }}
td {{ name }}
td
  img.angry_cat_pic(src="{{image_path}}")
td
  div.rank_up
    img(src="assets/images/up.gif")
  div.rank_down
    img(src="assets/images/down.gif")
td
  a.disqualify(href="#") Disqualify
